---
---

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               'Liberation Sans', /* Linux */
               sans-serif; /* Everything else */;
  color: #444;
  background-color: #fafafa;
}

body img {
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

header div {
  display: inline-block;
}

header a#header-home {
  color: #444;
  margin-right: 0.6em;
  font-weight: bold;
  text-decoration: none;
}

blockquote {
  border-left: 0.1em solid #dfe2e5;
  padding: 0 1em;
  color: #777;
}

code {
  background-color: #eaecef;
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  font-size: 80%;
}

.highlight pre {
    overflow: auto;
    background-color: #eaecef;
    border-radius: 0.2em;
    padding: 0.4em 1em;
}

.highlight pre code {
  padding: 0;
  background-color: inherit;
}

ul#markdown-toc,
ul#markdown-toc ul {
  list-style: none
}
